 
{% extends 'base.html.twig' %}

{% block title %}Products Page{% endblock %}

{% block head %}
    {% include 'products/partials/head.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'products/partials/_navbar.html.twig' %}
    <main class="container my-5">
        <div class="row">
            <!-- Filters Section -->
            <div class="col-md-3">
                {% include 'products/partials/_filters.html.twig' %}
            </div>
            <!-- Product Cards -->
            <div class="col-md-9">
                {% include 'products/partials/_product_cards.html.twig' %}
            </div>
        </div>
    </main>
    {% include 'products/partials/cart_sidebar.html.twig' %}
        {% include 'products/partials/_scripts.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'products/partials/_scripts.html.twig' %}
{% endblock %}
