<nav class="col-md-3 col-lg-2" style="background-color: #111111;">
    <!-- Sidebar content (Navbar links) -->
    <!-- Example of links. Update these links as necessary -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="?page=users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="?page=reports">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="?page=settings">Settings</a>
        </li>
    </ul>
</nav>
